<configuration>
    <configSections>
        <sectionGroup name="dextuploadpro">           <!-- dextuploadpro -->
          <section name="common" type="config"/>      <!-- common -->
          <section name="fileupload" type="config"/>  <!-- fileupload object -->
          <section name="filedownload" type="config"/>  <!-- filedonwload object , v4.1.1.0 -->
        </sectionGroup>
    </configSections>

    <dextuploadpro>
        <!-- common -->
        <common authkey="TXmNtg0dpknWhZbEecKX6hoU9O5s/AT8GivGnuFRHqmXeynmIHE5cGua0/kyfQvQuLZU32ghRukYRF/IKoAjaQIIQgNTA7tfGDx/O1M3AT/vZU13AfV9ObY6LrE+YM+05tjm0mi/mMlTjpGVmHfHQ7sqREYQ2LnMnnsSvt28ThZzbXm/jb7pQPdPOc91W0zeXm496E2IYBBsE5qX+Quynw==" />

        <!-- fileupload -->
        <!-- defaultpath="C:\\TEMP"      -->
        <!-- codepage="65001"            -->
        <!-- uploadtimeout = "3600"       -->
        <!-- maxfilelen="2147483647"     -->
        <!-- totallen="2147483647"       -->
        <!-- automakefolder="true"        -->
        <!-- checkmaxfilelen="true"       -->            
        <!-- limitextension="kkk;aaa;"    -->
        <fileupload
            defaultpath="C:\inetpub\wwwroot\list\pile"
            codepage="65001"
            uploadtimeout = "3600"
            maxfilelen="2147483647"
            totallen="2147483647"
            automakefolder="true"
            checkmaxfilelen="true"
            limitextension="kkk;aaa;"
        />  

        <!-- filedownload , v4.1.1.0  -->
        <!-- customcontenttype="application/octet-stream"      contenttype  -->
        <filedownload
            customcontenttype=""
        />
    </dextuploadpro>
.
.
.
</configuration>